body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(233, 238, 243);
    overflow: hidden;
    width: 100%;
}
@media (max-width: 1400px) {
    .flexbox-center {
        transform: scale(0.6, 0.6);
        overflow: visible;
    }
}
@media (max-width: 1000px) {
    .flexbox-center {
        transform: scale(0.4, 0.4);
        overflow: visible;
    }
}
@media (max-width: 800px) {
    .flexbox-center {
        transform: scale(0.3, 0.3);
        overflow: visible;
    }
}
//Custom Scrollbar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(8, 156, 65);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgb(168, 163, 173);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #797171;
}
.header {
    top: -0.1vh;
    position: fixed;
    background-color: rgb(241, 248, 255);
    width: 100%;
    height: 10vh;
    box-shadow: 1px 2px 1px rgb(210, 228, 243);
    .logo {
        .img_logo {
            position: absolute;
            left: 23vh;
            top: 2.8vh;
            width: 5vh;
        }
    }
    .navbar {
        display: flex;
        list-style: none;
        position: absolute;
        left: 27vh;
        top: 1vh;
        text-align: center;
        justify-items: center;
        li {
            margin-left: 0.1vh;
            text-decoration: none;
            width: 200px;
            height: 1.5vh;
            padding: 1vh;
            .home,
            .about,
            .store {
                text-decoration: none;
                color: black;
            }
            &:hover {
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
            }
        }
    }
    .input {
        position: absolute;
        left: 110vh;
        top: 2vh;
        .typeinput {
            width: 40vh;
            height: 5vh;
            border-radius: 20px;
            box-sizing: border-box;
            border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            padding: 20px;
        }
        .typeinput[type="text"]:focus {
            border: 3px solid rgb(33, 221, 212);
            padding: 20px;
        }
        .img_find {
            width: 2.4vh;
            position: absolute;
            left: 35vh;
            top: 1.2vh;
            cursor: pointer;
            transition: 2s;
            &:hover {
                width: 2.6vh;
            }
        }
    }
    .cart {
        margin-top: 3vh;
        margin-left: 153vh;
        .img_cart {
            width: 3vh;
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            cursor: pointer;
        }
        #lblCartCount {
            font-size: 12px;
            background: #ff0000;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            border-radius: 20px;
        }
    }
    .login1 {
        display: block;
        width: 12vh;
        margin-left: 180vh;
        margin-top: -3vh;

        .text_login1,
        .text_login2 {
            text-decoration: none;
            color: black;
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    top: 25vh;
    position: relative;
    height: 15vh;
    background-color: rgb(241, 248, 255);
    .infostore {
        margin-left: 20vh;
        padding: 20px;
        line-height: 19px;
        text-align: left;
    }
    .license {
        margin-left: 65vh;
    }
    .infostore2 {
        margin-left: 1600px;
        margin-top: -120px;
        .iconsc {
            margin-left: 2vh;
            vertical-align: top;
        }
    }
}
.main {
    position: relative;
    width: 90vh;
    height: 60vh;
    top: 18vh;
    left: 60vh;
    background-color: #ccc;
    border-radius: 20px;
    box-shadow: 1px 2px 1px rgb(167, 150, 150);
    .title {
        font-family: "Poppins", sans-serif;
        text-align: center;
        line-height: 90px;
        color: rgb(40, 53, 53);
    }
    .text {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #797171;
    }
    .input {
        width: 40vh;
        height: 4vh;
        margin-left: 25vh;
        border-radius: 20px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        padding: 20px;
    }
    .input[type="text"]:focus {
        border: 3px solid rgb(33, 221, 212);
        padding: 20px;
    }
    .btn1 {
        width: 20vh;
        height: 4vh;
        border-radius: 10px;
        margin-left: 35vh;
        cursor: pointer;
        outline: none;
    }
}
