<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1488040829/ticjpfnhwiohz5hwrlsh.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />

    <title>GUCCI® Sản phẩm</title>
    <link rel="stylesheet" href="./scss/products.css">

</head>

<body>
    <div id="app">
        <div class="header">
            <div class="logo">
                <img class="img_logo" src="./images/logo.png" />
            </div>

            <ul class="navbar">
                <li><a class="home active" href="index.html">TRANG CHỦ</a></li>
                <li><a class="about" href="about.html">VỀ CHÚNG TÔI</a></li>
                <li><a class="store" href="products.html">CỬA HÀNG</a></li>
            </ul>

            <div class="input">
                <input class="typeinput" type="text" placeholder="Tìm kiếm sản phẩm" />
                <img class="img_find" src="./images/find.svg" />
            </div>

            <div class="cart">
                <a href="cart.html"> <img src="./images/cart.svg" class="img_cart"></a>
                <Label ID="lblCartCount">5</Label>
            </div>

            <div class="login1">
                <a class="text_login1" href="#">ĐĂNG NHẬP</a>
                <a class="text_login2" href="#">ĐĂNG KÝ</a>
            </div>
        </div>




        <div id="products">
            <div class="featured_products1">
                <span>Áo thun</span>
            </div>
            <div class="products_item" v-for="(item, index) in sellitems">
                <img :src="`./images/` + item.ID + `.png`" class="item">
                <h1 class="name_items">{{item.Name}}</h1>
                <span class="price_items">{{item.Price}}$</span>
                <div>
                    <button class="btn" type="button">Mua ngay</button>
                </div>

            </div>

        </div>

        <div id="products">
            <div class="featured_products1">
                <span>Giày</span>
            </div>
            <div class="products_item" v-for="(item, index) in sellitems2">
                <img :src="`./images/sneaker/` + item.ID + `.png`" class="item">
                <h1 class="name_items">{{item.Name}}</h1>
                <span class="price_items">{{item.Price}}$</span>
                <div>
                    <button class="btn" type="button">Mua ngay</button>
                </div>

            </div>

        </div>

        <div id="products">
            <div class="featured_products1">
                <span>Túi sách balo</span>
            </div>
            <div class="products_item" v-for="(item, index) in sellitems3">
                <img :src="`./images/bag/` + item.ID + `.png`" class="item">
                <h1 class="name_items">{{item.Name}}</h1>
                <span class="price_items">{{item.Price}}$</span>
                <div>
                    <button class="btn" type="button">Mua ngay</button>
                </div>

            </div>

        </div>


        <div class="footer">
            <div class="infostore">
                <span>88 Dong Khoi, District 1</span><br />
                <span>Ho chi minh city, Ho Chi Minh City, Vietnam</span><br />
                <span>T:+84.28.4458.1655 </span><br />
                <span>clientservice.vn@gucci.com</span><br />

            </div>

            <span class="license">© 2016 - 2020 Guccio Gucci S.p.A. - All rights reserved. SIAE LICENCE # 2294/I/1936
                and
                5647/I/1936</span>

            <div class="infostore2">
                <img style="width: 1.5vh;" src="./images/fb.svg" /><span class="iconsc">Facebook</span><br /><br />
                <img style="width: 1.5vh;" src="./images/tw.svg" /><span class="iconsc">Twitter</span<br /><br /><br />
                    <img style="width: 1.5vh;" src="./images/ins.svg" /><span class="iconsc">Instagram</span<br /><br />

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="./js/products.js"></script>

</body>

</html>